---
name: SC Environment Check 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  call-reusable-workflow:
    uses: SteveHNH/shared-workflows/.github/workflows/sc-environment-impact-check.yml@fix-workflow
