---
name: SC Environment Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  pull-requests: write
  issues: write
  contents: read

jobs:
  call-reusable-workflow:
    uses: RedHatInsights/shared-workflows/.github/workflows/sc-environment-impact-check.yml@master
    secrets:
      SC_ASSESSOR_SLACK_URL: ${{ secrets.SC_ASSESSOR_SLACK_URL }}
